// ---------------------
//     BASE
// ---------------------

    // *--------- LAYOUT ---------*

    // *--------- COLORS ---------*
    $base__color: #504e4f;
    $base__color--active: lighten($base__color, 40);
    $second__color: #fff;
    $second__color--active: darken($second__color, 20);
    $third__color: #f39022;
    $third__color--active: lighten($third__color, 30);
    $third__color--transparency: rgba($third__color, .7);
    $fourth__color: #f6f6f6;
    $fifth__color: #504e4f;
    $sixth__color: #3f3e3e;