// -------------------------------
//     FORMS VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// -------------------------------
//     FORMS STYLES
// -------------------------------

ul.errors {
    width: 600px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #FFD4DE;
}

ul.errors li {
    list-style: none;
    line-height: 30px;
    color: #F70053;
}