// -------------------------------
//     FOOTER VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*
    $footer-text__font-size: 1.6rem;
    // *--------- COLORS ---------*


// ----------------------------
//     FOOTER STYLES
// ----------------------------

.footer {
    .section-popular {
        background: url('../img/bg-popular.png') no-repeat;
        background-size: cover;

        &__link {
            font-family: $second__font-family;
            font-size: $link__font-size--large;
            color: $base__color;
        }

        &__icon {
            font-size: $font-size--x-large;
        }
    }

    .section-info {
        font-family: $base__font-family;
        font-size: $footer-text__font-size;
        background-color: $base__color;

        &__title {
            font-family: $second__font-family;
            font-size: $font-size;
        }

        &__designed {
            font-size: $font-size--x-small;
        }
    }

}