// -------------------------------
//     HEADER VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     HEADER STYLES
// -----------------

.header {
    font-family: $second__font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $base__color;

    background: url('../img/bg-header.jpg') no-repeat;
    background-size: cover;

    &__top {
        background-color: $third__color;

        font-size: $font-size--small;
        font-weight: $font-weight--bold;
        color: $second__color;

        button {
            font-size: $font-size--small;
            font-weight: $font-weight--bold;
            color: $base__color;

            &:hover {
                color: $base__color--active;
            }
        }
    }

    &__bottom {
        h1 {
            font-size: $font-size--x-large;
        }
    }
}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 768px) {

}