// -------------------------------
//     HEADER VARIABLES
// -------------------------------

    // *--------- TYPOGRAPHY ---------*

    // *--------- COLORS ---------*

// ----------------------------
//     HEADER STYLES
// -----------------

@keyframes scale-effect-in {
  from { transform: scale(0.5); }
  to { transform: scale(1); }
}

.header {
    font-family: $second__font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $base__color;

    &__top {
        background-color: $third__color;

        font-size: $font-size--small;
        font-weight: $font-weight--bold;
        color: $second__color;

        button {
            font-size: $font-size--small;
            font-weight: $font-weight--bold;
            color: $base__color;

            &:hover {
                color: $base__color--active;
            }
        }
    }

    &__sticky--fixed {
        position: fixed;
        width: 100vw;
        max-width: 100vw;
        top: 0;

        z-index: 5;
        animation: .4s forwards ease-in-out scale-effect-in;
    }

    &__bottom {
        background-image: url('../img/bg-header.jpg');
        @extend %parallax;

        h1 {
            font-size: $font-size--x-large;
        }
    }
}

@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 768px) {
    .header {
        &__bottom {
            h1 {
                font-size: $font-size--large;
            }
        }
    }
}